/* Home.css */

.home-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #89f7fe, #66a6ff); /* new gradient */
  padding: 20px;
}